{{> _searchbar}}

<ul class="total-read">
  <li><a href="#" class="currently-reading">Current: {{currentTotal}}</a></li>
  <li><i class="fal fa-minus" data-fa-transform="rotate-90 shrink-8"></i></li>
  <li><a href="#" class="finished-reading">Finished: {{finishedTotal}}</a></li>
  <li><i class="fal fa-minus" data-fa-transform="rotate-90 shrink-8"></i></li>
  <li><a href="#" class="total-read">Total: {{totalBooks}}</a></li>
</ul>
<section class="currently-reading-section">
  <div class="col s12">
    <h5>Currently Reading</h5>
  </div>
  {{#each currentlyReading}}
    {{> _mybooks}}
  {{else}}
    <p>You haven't started a new book recently.</p>
  {{/each}}
</section>

<section class="finished-reading-section">
  <div class="s12 col">
    <h5>Finished Reading</h5>
  </div>
  {{#each finishedBooks}}
    {{> _mybooks}}
  {{else}}
    <p>No finished books yet</p>
  {{/each}}
</section>
