{{> _searchbar}}
<h2>Search Results</h2>
<div class="row search-results">
  {{#each searchItems}}
  <div class="col s12">
    <div class="card horizontal valign-wrapper">
      <div class="card-image">
        <img src="{{volumeInfo.imageLinks.thumbnail}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header">{{tvolumeInfo.title}} {{#each volumeInfo.authors}}
            <small>{{this}} </small>
          {{/each}}</h5>

          <p class="text-snippet">{{{truncate searchInfo.textSnippet 150}}}</p>
          <form class="save-book-form" method="POST" action="/books/add">
            <input type="hidden" name="title" value="{{volumeInfo.title}}" />
            <input type="hidden" name="cover" value="{{volumeInfo.imageLinks.thumbnail}}" />
            <button type="submit" class="waves-effect waves-light start-reading-btn btn" data-book-info='{"title": "{{volumeInfo.title}}", "authors": "{{volumeInfo.authors}}", "cover": "{{volumeInfo.imageLinks.thumbnail}}"}'>
              <i class="fal fa-book"></i> Start reading</button>
        </form>
        </div>

      </div>

    </div>
  </div>
  {{/each}}
</div>
